.container {
  height: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title {
  background-color: #fff;
  padding: 1.6rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 12px rgb(255, 255, 255);
}

.description {
  background-color: #fff;
  padding: 1.6rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.5rem;
  box-shadow: 0 0 12px rgb(255, 255, 255);
  letter-spacing: 0.5px;
}

.actions {
  display: flex;
  gap: 1.5rem;
}

.actions button {
  padding: 1.2rem 2rem;
  background-color: #228be6;
  border: 1px solid #228be6;
  color: #e7f5ff;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  letter-spacing: 0.25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}

.actions button:hover,
.actions button:active {
  background-color: #1f7dcf;
  border: 1px solid #1f7dcf;
}
